<h1>Quotes App</h1>

<p>Manage quotes with this app</p>

<!-- Pass in data from server.js -->
<ul>
    {{#each quotes}}
    <li>
        <p>
            <span class="label">ID:</span> {{this.id}}</p>
        <p>
            <span class="label">Quote:</span> {{this.quote}}</p>
        <p>
            <span class="label">Rating:</span> {{this.rating}}</p>
        <p>
            <span class="label">Source:</span> {{this.source}}</p>
        <p>
            <span class="label">Year:</span> {{this.year}}</p>

        <form action="/{{this.id}}?_method=DELETE" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">Delete</button>
        </form>

        <a href="/{{this.id}}">Update this quote</a>
    </li>
    {{/each}}
</ul>

<h2>Add a Quote</h2>

<form class="create-form" action="/" method="POST">

    <div class="form-group">
        <label for="quo">Quote:</label>
        <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
    </div>
    <div class="form-group">
        <label for="source">Source:</label>
        <input type="text" id="source" name="source">
    </div>
    <div class="form-group">
        <label for="rating">Source:</label>
        <input type="text" id="rating" name="rating">
    </div>
    <div class="form-group">
        <label for="year">Source:</label>
        <input type="text" id="year" name="year">
    </div>
    <button type="submit">Add Quote</button>
</form>